body {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

.container {
  background-color: white;
  max-width: 800px;
  margin: 25px auto 0;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(206, 186, 186, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2); }

.App {
  margin-top: 24px; }
  .App h1 {
    text-align: center; }

.total {
  padding: 24px 24px 0; }

.listitem {
  display: flex;
  align-items: flex-start; }
  .listitem__image-wrapper {
    padding-right: 24px;
    padding-top: 24px; }
  .listitem__image, .listitem__image-placeholder {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 24px;
    background: rgba(0, 0, 0, 0.05); }
  .listitem__details {
    flex: 1;
    padding: 24px 24px 24px 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15); }
    .listitem__details__name {
      margin: 0;
      color: #0084bf;
      font-size: 1.2rem;
      line-height: 1.6;
      font-weight: 700; }
    .listitem__details__job {
      font-size: 1rem;
      line-height: 1.4; }
    .listitem__details__bio {
      font-size: .85rem;
      line-height: 1.4;
      margin-top: 8px;
      color: rgba(0, 0, 0, 0.6); }
  .listitem__cta {
    border-bottom: solid 1px rgba(0, 0, 0, 0.15); }
