//colours
$gray-lighter:              rgba(0,0,0,.05);
$gray-light:                rgba(0,0,0,.15);
$gray:                      rgba(0,0,0,.6);
$gray-dark:                 rgba(0,0,0,.9);
$black:                     black;
$blue:                      #0084bf;

// fonts
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// grid
$grid-gutter-width:           24px;